<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="Lab1"
        android:theme="@style/Theme.Lab1">

        <activity
            android:name=".presentation.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".presentation.main.MainActivity"/>
        <activity android:name=".presentation.login.LoginActivity"/>
        <activity android:name=".presentation.register.RegisterActivity"/>
        <activity android:name=".presentation.catalog.CatalogActivity"/>
        <activity android:name=".presentation.cart.CartActivity"/>
        <activity android:name=".presentation.product.ProductActivity"/>

    </application>

</manifest>
